#gallery {
    
}
.galleryDelete{
	float: right;
    width: auto;
    height: auto;
    padding: 10px;
    color: #F70404;
    background-color: rgba(0, 0, 0, 0.45);
}
.docUpLoading{
	width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}