#gallery {
    
}
.galleryDelete{
    width: 100%;
    height: 46px;
    line-height: 25px;
    padding: 10px;
    color: white;
    font-size: 20px;   
    background-color: rgba(0, 0, 0, 0.45);
    .deleteIcon{
        color: #F70404;
        width: 44px;
        height: auto;
        float: right;
    }
}
.docUpLoading{
	width: 100%;
    height: auto;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}