/**
 * The geosuggest module
 */

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.GeoSuggestList{
	font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	.GeoSuggestinput{
		padding: 0;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    border: none;
	    outline: none;
	    background-color: transparent;
	    color: rgba(0, 0, 0, 0.87);
	    font: inherit;
	    box-sizing: border-box;
	    margin-top: 14px;
	    border: none;
	    border-bottom: solid 2px;
	    border-color: #e0e0e0;
	    box-sizing: content-box;
	}
	.GeoSuggestinput:focus{
	    border-style: none none solid;
	    border-bottom-width: 2px;
	    border-color: rgb(0, 188, 212);
	    box-sizing: content-box;
	}
	ul{
		width: 100%;
		margin-left: 0%;
		box-shadow: 0px 1px 9px #CCC;
		overflow: hidden;
		border-width: 0;
		li{
			width: 100%;
			padding-left: 5%;
			padding-right: 5%;
			padding-top:7px;
			padding-bottom:7px;		
		}
		li:hover{
			background-color:#EEE;
		}
	}
}
.pickLocation{
	font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    font-family: Roboto, sans-serif;
}