.paymentWrapper{
	height:auto;
	background:green;
	display:block;
	float:left;
}
.imageUploadButton{
	opacity:0;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.paymentBox{
	margin-top:14px;
	height:auto;
	.paymentLabel{
		width: 100%;
		display: block;
		font-size: small;
		color: rgba(0,0,0,0.5);
	}
	.textView{
		width: 100%;
		display: block;
		margin-top: 8px;
	}
}
.paymentRow{
	width:100%;
	float:left;
	display:block;
	position:relative;
	.paymentText{
		float: left;
	}
	.paymentIcon{
		float: left;
		position:absolute;
		bottom:11px;
	}

}
.paymentIcon{
    z-index: 1;
    padding: 4px;
    background: #70BFF9;
    border-radius: 14px;
}