$profile-image-cover-height: 160px;
$profile-image-size: 100px;
$profile-image-offset: 20px;

#profile-image-cover {
    height: $profile-image-cover-height;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 1px 1px 1px rgba(242, 242, 242, 0.7);
    margin-bottom: $profile-image-offset;
    .coverImageText{
        width:100%;
        text-align: center;
        display: block;
    }    
    #profile-image {
        position: absolute;
        width: $profile-image-size;
        height: $profile-image-size;
        min-width: $profile-image-size;
        background-size: 150% auto;
        background-repeat:no-repeat;
        background-position-x: 25%;
        bottom: (-$profile-image-offset);
        border: 2px solid white;
        border-radius: 5px;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-color: #BF89BF;
    }
    .topPanel{
        width: 100%;
        height: 42px;
        line-height: 21px;
        padding: 10px;
        color: white;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.45);
    }
    .bottomPanel{
        width: 100%;
        height: 30px;
        padding: 10px;
        color: white;
        font-size: 10px;
        background-color: rgba(0, 0, 0, 0.45);
    }
}
.businessNameTag{
    font-size: 59px;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    position: relative;
    left: 0px;
    width: 100%;
    top: 50%;
}
