@import "reset";
@import "colors";
@import "profileimage";
@import "profiledetails";
@import "storetimings";
@import "category";
@import "geosuggest";
@import "Timings";
@import "delivery";
@import "dialogues/profilePic";
@import "payments";
@import "gallery";


* , *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: #d5d6d9;
    font-family: 'Open Sans', sans-serif;
}
.row{
	padding-top: 24px;
	width: 100%;
}
.text-center{
	text-align: center;
}
strong{
	font-weight: bold;
}
i{
	font-style: italic;
}