@import "reset";
@import "colors";
@import "profileimage";
@import "profiledetails";
@import "storetimings";
@import "category";
@import "geosuggest";
@import "Timings";
@import "delivery";
@import "dialogues/profilePic";


* , *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: #d5d6d9;
    font-family: 'Open Sans', sans-serif;
}
.row{
	margin-top: 24px;
	width: 100%;
}
