@import "reset";
@import "colors";
@import "profileimage";
@import "profiledetails";
@import "storetimings";
@import "category";
@import "geosuggest";
@import "Timings";
@import "delivery";
@import "dialogues/profilePic";
@import "dialogues/imageUpdater";
@import "payments";
@import "gallery";


* , *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: #d5d6d9;
    font-family: 'Open Sans', sans-serif;
}
.row{
	padding-top: 24px;
	width: 100%;
}
.text-center{
	text-align: center;
}
strong{
	font-weight: bold;
}
i{
	font-style: italic;
}
.hidden{
	display: none!important;
	visibility: hidden;
	opacity: 0;
}
.floatingBtn{
	position: fixed;
	right: 4px;
	bottom: 4px;
	width: 98%;
	height: auto;
	z-index: 1;
}
.storeMap{
	width: 100%;
	height: 200px;
	margin-bottom: 15px;
}
.inputBox{
	position: relative;
	margin-top: 8px;
}
.floatingLabel{
	position: absolute;
	color: rgba(0,0,0,0.5);
	font-size: medium;
	left: 0;
    top: 30px;
    pointer-events: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: scale(1) translate3d(0px, 0px, 0px);
    transform-origin: left top;
}
.boxAnim{
	.floatingLabel{		
		top: 5px;
		left: 0px;
		font-size:small;
		transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	    transform: scale(1) translate3d(0px, 0px, 0px);
	    transform-origin: left top;
	}
}
.blueFont{
	.floatingLabel{		
		color: rgb(0,188,212);
	}
}
.small{
	font-size: small;
	display: block;
	margin-bottom: 5px;
}
