.imageUpdaterButton{
	float:right;
}
.userUpdaterButton{
	float: right;
}
.imageGallery{
	width: 100%;
	height: 150px;
	img{
		height: 150px;
	}
}
.imgUptGridTile .mainText{
	padding: 10px;
}
.imgUptGridTile .subText{
	padding: 10px;
}
.nextBtn{
    padding: 3px;
    background-color: bisque;
    border-radius: 15px;
    top: -76%;
    position: absolute;
    right: 2px;
}
#navButtons{
	position: absolute;
    top: 42%;
    width: 100%
}
.prevBtn{
	padding: 3px;
    background-color: bisque;
    border-radius: 15px;
    top: -76%;
    position: absolute;
    left: 2px;
}