.editIcon{
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
    padding: 8px;
    background: white;
    border-radius: 14px;
}
.editIcon.userUpdater{
	top:auto;
    right: 12px;
}
.dialogueCancel{
	float: right;
    position: absolute;
    z-index: 1;
    right: 4px;
    top: 4px;
}
.profileBtn{
    float: right;
}
.profilePicChangeBtn{
	float: right;
}